@font-face {
    font-family: "LongCube";
    src: url(/LongCube.ttf) format("truetype");
}
body { 
    font-family: "LongCube", Courier New, Comic Sans MS;
	background-color: #000000;
	color: #FFFFFF;
}
h1 {
	font-size: 100px;
}
h2 {
	font-size: 24px;
}
a {
	cursor: pointer;
}
a#b:hover {
	text-shadow: 0px 0px 3px #FFFFFF, 0px 0px 5px #1DA1F2, 0px 0px 5px #1DA1F2, 0px 0px 5px #1DA1F2, 0px 0px 5px #1DA1F2;
}
a#r:hover {
	text-shadow: 0px 0px 3px #FFFFFF, 0px 0px 5px #CD2223, 0px 0px 5px #CD2223, 0px 0px 5px #CD2223, 0px 0px 5px #CD2223;
}
a#y:hover {
	text-shadow: 0px 0px 3px #FFFFFF, 0px 0px 5px #62479E, 0px 0px 5px #62479E, 0px 0px 5px #62479E, 0px 0px 5px #62479E;
}
a#n:hover {
	text-shadow: 0px 0px 3px #FFFFFF, 0px 0px 5px #FF5315, 0px 0px 5px #FF5315, 0px 0px 5px #FF5315, 0px 0px 5px #FF5315;
}
#center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}