@font-face {
    font-family: "LongCube";
    src: url(/LongCube.ttf) format("truetype");
}
body { 
    font-family: "LongCube", Courier New, Comic Sans MS;
	background-color: #000000;
	color: #FFFFFF;
	cursor: default;
}
h1 {
	font-size: 100px;
}
h2 {
	font-size: 24px;
}
a {
	cursor: pointer;
	color: #FFFFFF;
	text-decoration:none;
	-webkit-transition: text-shadow 0.2s; transition: text-shadow 0.2s;
	outline:0;
}
a#b:hover {
	text-shadow: #FFFFFF 0px 0px 5px, #FFFFFF 0px 0px 10px, #FFFFFF 0px 0px 15px, #1DA1F2 0px 0px 20px, #1DA1F2 0px 0px 30px, #1DA1F2 0px 0px 40px, #1DA1F2 0px 0px 50px, #1DA1F2 0px 0px 75px;
}
a#r:hover {
	text-shadow: #FFFFFF 0px 0px 5px, #FFFFFF 0px 0px 10px, #FFFFFF 0px 0px 15px, #CD2223 0px 0px 20px, #CD2223 0px 0px 30px, #CD2223 0px 0px 40px, #CD2223 0px 0px 50px, #CD2223 0px 0px 75px;
}
a#y:hover {
	text-shadow: #FFFFFF 0px 0px 5px, #FFFFFF 0px 0px 10px, #FFFFFF 0px 0px 15px, #62479E 0px 0px 20px, #62479E 0px 0px 30px, #62479E 0px 0px 40px, #62479E 0px 0px 50px, #62479E 0px 0px 75px;
}
a#n:hover {
	text-shadow: #FFFFFF 0px 0px 5px, #FFFFFF 0px 0px 10px, #FFFFFF 0px 0px 15px, #FF5315 0px 0px 20px, #FF5315 0px 0px 30px, #FF5315 0px 0px 40px, #FF5315 0px 0px 50px, #FF5315 0px 0px 75px;
}
a#dot:hover {
	text-shadow: #FFFFFF 0px 0px 5px, #FFFFFF 0px 0px 10px, #FFFFFF 0px 0px 15px, #00CC00 0px 0px 20px, #00CC00 0px 0px 30px, #00CC00 0px 0px 40px, #00CC00 0px 0px 50px, #00CC00 0px 0px 75px;
}
a#info:hover {
	text-shadow: #FFFFFF 0px 0px 5px, #FFFFFF 0px 0px 10px, #FFFFFF 0px 0px 15px, #AAAAAA 0px 0px 20px, #AAAAAA 0px 0px 30px, #AAAAAA 0px 0px 40px, #AAAAAA 0px 0px 50px, #AAAAAA 0px 0px 75px;
}
#center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}